@use 'colors';
@use 'fonts';
.first-page-btn {
    border: 1px solid white;
    width: 194px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    .plus {
        height: 24px;
        width: 24px;
        display: inline-block;
        font-size: 40px;
        line-height: 22px;
        font-weight: 200;
        text-align: center;
        &:before {
            content: "+";
        }
    }
    span {
        @include fonts.btn;
        color: white;
        padding-left: 20px;
    }
}

.btn-hover:hover {
    background: white;
    span,
    .plus {
        color: colors.$primary;
    }
}

.no-border-btn {
    border: none;
    justify-content: start;
    color: colors.$primary;
    width: 150px;
    height: 38px;
    margin: 15px 0 0 45px;
    span {
        padding-left: 5px;
        @include fonts.btn;
    }
}

.buro-btn {
    position: relative;
    width: 550px;
    height: 47px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    cursor: pointer;
    color: colors.$primary;
    border: 1px solid colors.$primary;
    transition: 0.5s;
    &:hover {
        background: colors.$primary;
        color: white;
    }
    .buro-plus {
        height: 24px;
        width: 24px;
        display: inline-block;
        font-size: 40px;
        line-height: 22px;
        font-weight: 200;
        text-align: center;
        &:before {
            content: "+";
        }
    }
    .buro-minus {
        height: 24px;
        width: 24px;
        display: inline-block;
        font-size: 40px;
        line-height: 22px;
        font-weight: 200;
        text-align: center;
        &:before {
            content: "-";
        }
    }
    span {
        font-size: 16px;
        font-weight: 700;
    }
}

.buro-extra-btn {
    position: absolute;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
    left: 139px;
    bottom: 94px;
    border: 1px solid white;
    width: 292px;
    height: 48px;
    padding: 0 15px;
    span {
        @include fonts.btn;
        color: white;
    }
}

.portfolio-btn {
    @include fonts.btn;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 292px;
    height: 49px;
    border: 1px solid colors.$primary;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        background: colors.$primary;
        color: white;
    }
    img {
        padding: 0 25px 0 18px;
    }
    span {
        padding-right: 34px;
        font-size: 16px;
    }
}

.contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 292px;
    height: 48px;
    position: absolute;
    bottom: 86px;
    color: colors.$primary;
    border: 1px solid colors.$primary;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        background: colors.$primary;
        color: white;
    }
    span {
        @include fonts.btn;
    }
}

.nav-btn {
    color: colors.$primary;
    cursor: pointer;
    display: none;
    @media screen and(max-width: 992px) {
        display: block;
    }
}

.close-nav {
    display: none;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}