@use 'colors';
@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-ExtraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

// mixins
@mixin heading {
    font-size: 40px;
    color: white;
    line-height: 65px;
    font-weight: 300;
}

@mixin heading2 {
    font-size: 35px;
    color: white;
    line-height: 65px;
    font-weight: 300;
}

@mixin regular {
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
}

@mixin small {
    font-size: 18px;
    font-weight: 300;
}

@mixin btn {
    font-size: 16px;
    font-weight: 600;
    color: colors.$primary;
}