a {
  color: #DC514C;
}

.second-part,
.grid-item4,
.extra-div {
  background: #DC514C;
}

.nathalie-text h2 {
  color: black;
}

@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-ExtraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.header {
  display: flex;
  position: sticky;
  top: 0px;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 25px 60px 25px 60px;
  margin: 40px 0 203px 0;
  z-index: 5;
  transition: 0.3s;
}
@media screen and (max-width: 993px) {
  .header {
    margin-top: 80px;
  }
}
.header .logo {
  display: flex;
  align-items: center;
  height: 42px;
  width: 202px;
  background: white;
  padding: 5px;
}
.header .logo img {
  width: 191px;
  height: 32px;
}
.header .nav-bar {
  display: flex;
  align-items: center;
}
.header .nav-bar ul {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style-type: none;
}
@media screen and (max-width: 993px) {
  .header .nav-bar ul {
    display: none;
    flex-direction: column;
    gap: 50px;
    top: 20px;
  }
  .header .nav-bar ul .link {
    font-size: 30px;
  }
}
.header .nav-bar ul li a {
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 21;
}

.home-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 59px;
  padding: 40px 15px;
  margin: 0px;
}
.home-header.nav-scrolled {
  background: #DC514C;
}
.home-header.nav-scrolled ul li a {
  color: white;
}

.buro-header {
  position: sticky;
  display: flex;
  align-items: center;
  height: 59px;
  margin-bottom: 106px;
  padding: 0 60px;
}
.buro-header .logo {
  left: 39px;
}

.portfolio-header {
  margin: 27px 0 0 0;
  display: flex;
  align-items: center;
  height: 59px;
  padding: 0 60px 0 60px;
}

.contact-header {
  margin: 65px 0 18px 0;
  height: 59px;
  display: flex;
  align-items: center;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

@keyframes slideLeft {
  from {
    opacity: 0.2;
    transform: translateX(360px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.nav-slide {
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.first-page-btn {
  border: 1px solid white;
  width: 194px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}
.first-page-btn .plus {
  height: 24px;
  width: 24px;
  display: inline-block;
  font-size: 40px;
  line-height: 22px;
  font-weight: 200;
  text-align: center;
}
.first-page-btn .plus:before {
  content: "+";
}
.first-page-btn span {
  font-size: 16px;
  font-weight: 600;
  color: #DC514C;
  color: white;
  padding-left: 20px;
}
@media only screen and (max-width: 1200px) {
  .first-page-btn span {
    font-size: 14px;
  }
}

.btn-hover:hover {
  background: white;
}
.btn-hover:hover span,
.btn-hover:hover .plus {
  color: #DC514C;
}

.no-border-btn {
  border: none;
  justify-content: start;
  color: #DC514C;
  width: 150px;
  height: 38px;
  margin: 15px 0 0 45px;
}
.no-border-btn span {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #DC514C;
}
@media only screen and (max-width: 1200px) {
  .no-border-btn span {
    font-size: 14px;
  }
}

.buro-btn {
  position: relative;
  width: 550px;
  height: 47px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
  cursor: pointer;
  color: #DC514C;
  border: 1px solid #DC514C;
  transition: 0.5s;
}
.buro-btn:hover {
  background: #DC514C;
  color: white;
}
.buro-btn .buro-plus {
  height: 24px;
  width: 24px;
  display: inline-block;
  font-size: 40px;
  line-height: 22px;
  font-weight: 200;
  text-align: center;
}
.buro-btn .buro-plus:before {
  content: "+";
}
.buro-btn .buro-minus {
  height: 24px;
  width: 24px;
  display: inline-block;
  font-size: 40px;
  line-height: 22px;
  font-weight: 200;
  text-align: center;
}
.buro-btn .buro-minus:before {
  content: "-";
}
.buro-btn span {
  font-size: 16px;
  font-weight: 700;
}

.buro-extra-btn {
  position: absolute;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
  left: 139px;
  bottom: 94px;
  border: 1px solid white;
  width: 292px;
  height: 48px;
  padding: 0 15px;
}
.buro-extra-btn span {
  font-size: 16px;
  font-weight: 600;
  color: #DC514C;
  color: white;
}
@media only screen and (max-width: 1200px) {
  .buro-extra-btn span {
    font-size: 14px;
  }
}

.portfolio-btn {
  font-size: 16px;
  font-weight: 600;
  color: #DC514C;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 292px;
  height: 49px;
  border: 1px solid #DC514C;
  cursor: pointer;
  transition: 0.5s;
}
@media only screen and (max-width: 1200px) {
  .portfolio-btn {
    font-size: 14px;
  }
}
.portfolio-btn:hover {
  background: #DC514C;
  color: white;
}
.portfolio-btn img {
  padding: 0 25px 0 18px;
}
.portfolio-btn span {
  padding-right: 34px;
  font-size: 16px;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 292px;
  height: 48px;
  position: absolute;
  bottom: 86px;
  color: #DC514C;
  border: 1px solid #DC514C;
  cursor: pointer;
  transition: 0.5s;
}
.contact-btn:hover {
  background: #DC514C;
  color: white;
}
.contact-btn span {
  font-size: 16px;
  font-weight: 600;
  color: #DC514C;
}
@media only screen and (max-width: 1200px) {
  .contact-btn span {
    font-size: 14px;
  }
}

.nav-btn {
  color: #DC514C;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 992px) {
  .nav-btn {
    display: block;
  }
}

.close-nav {
  display: none;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

footer {
  background: #313131;
  height: 123px;
  display: flex;
  align-items: center;
}
footer .footer-layout {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .footer-details,
footer .impressum {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
}
footer .footer-details {
  width: 819px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  footer .footer-details {
    width: 410px;
  }
}

.buro-footer {
  position: relative;
}

@media (min-width: 1400px) {
  .container {
    width: 100%;
    max-width: 1370px;
  }
}
@media (max-width: 1400px) {
  .container {
    width: 100%;
    max-width: 1370px;
  }

  .col-xl-12 {
    width: 100%;
  }

  .col-xl-11 {
    width: calc(1100% / 12);
  }

  .col-xl-10 {
    width: calc(1000% / 12);
  }

  .col-xl-9 {
    width: calc(900% / 12);
  }

  .col-xl-8 {
    width: calc(800% / 12);
  }

  .col-xl-7 {
    width: calc(700% / 12);
  }

  .col-xl-6 {
    width: calc(600% / 12);
  }

  .col-xl-5 {
    width: calc(500% / 12);
  }

  .col-xl-4 {
    width: calc(400% / 12);
  }

  .col-xl-3 {
    width: calc(300% / 12);
  }

  .col-xl-2 {
    width: calc(200% / 12);
  }

  .col-xl-1 {
    width: calc(100% / 12);
  }
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1170px;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: calc(1100% / 12);
  }

  .col-lg-10 {
    width: calc(1000% / 12);
  }

  .col-lg-9 {
    width: calc(900% / 12);
  }

  .col-lg-8 {
    width: calc(800% / 12);
  }

  .col-lg-7 {
    width: calc(700% / 12);
  }

  .col-lg-6 {
    width: calc(600% / 12);
  }

  .col-lg-5 {
    width: calc(500% / 12);
  }

  .col-lg-4 {
    width: calc(400% / 12);
  }

  .col-lg-3 {
    width: calc(300% / 12);
  }

  .col-lg-2 {
    width: calc(200% / 12);
  }

  .col-lg-1 {
    width: calc(100% / 12);
  }
}
@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 962px;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: calc(1100% / 12);
  }

  .col-md-10 {
    width: calc(1000% / 12);
  }

  .col-md-9 {
    width: calc(900% / 12);
  }

  .col-md-8 {
    width: calc(800% / 12);
  }

  .col-md-7 {
    width: calc(700% / 12);
  }

  .col-md-6 {
    width: calc(600% / 12);
  }

  .col-md-5 {
    width: calc(500% / 12);
  }

  .col-md-4 {
    width: calc(400% / 12);
  }

  .col-md-3 {
    width: calc(300% / 12);
  }

  .col-md-2 {
    width: calc(200% / 12);
  }

  .col-md-1 {
    width: calc(100% / 12);
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 100%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: calc(1100% / 12);
  }

  .col-sm-10 {
    width: calc(1000% / 12);
  }

  .col-sm-9 {
    width: calc(900% / 12);
  }

  .col-sm-8 {
    width: calc(800% / 12);
  }

  .col-sm-7 {
    width: calc(700% / 12);
  }

  .col-sm-6 {
    width: calc(600% / 12);
  }

  .col-sm-5 {
    width: calc(500% / 12);
  }

  .col-sm-4 {
    width: calc(400% / 12);
  }

  .col-sm-3 {
    width: calc(300% / 12);
  }

  .col-sm-2 {
    width: calc(200% / 12);
  }

  .col-sm-1 {
    width: calc(100% / 12);
  }
}
@media (max-width: 480px) {
  .container {
    width: 100%;
    max-width: 100%;
  }

  .col-xs-12 {
    width: 100%;
  }

  .col-xs-11 {
    width: calc(1100% / 12);
  }

  .col-xs-10 {
    width: calc(1000% / 12);
  }

  .col-xs-9 {
    width: calc(900% / 12);
  }

  .col-xs-8 {
    width: calc(800% / 12);
  }

  .col-xs-7 {
    width: calc(700% / 12);
  }

  .col-xs-6 {
    width: calc(600% / 12);
  }

  .col-xs-5 {
    width: calc(500% / 12);
  }

  .col-xs-4 {
    width: calc(400% / 12);
  }

  .col-xs-3 {
    width: calc(300% / 12);
  }

  .col-xs-2 {
    width: calc(200% / 12);
  }

  .col-xs-1 {
    width: calc(100% / 12);
  }
}
.container-fluid {
  width: 100%;
  padding: 0px 15px;
}

.container {
  padding: 0px 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
  margin: 0 -15px;
  flex-wrap: wrap;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: calc(1100% / 12);
}

.col-10 {
  width: calc(1000% / 12);
}

.col-9 {
  width: calc(900% / 12);
}

.col-8 {
  width: calc(800% / 12);
}

.col-7 {
  width: calc(700% / 12);
}

.col-6 {
  width: calc(600% / 12);
}

.col-5 {
  width: calc(500% / 12);
}

.col-4 {
  width: calc(400% / 12);
}

.col-3 {
  width: calc(300% / 12);
}

.col-2 {
  width: calc(200% / 12);
}

.col-1 {
  width: calc(100% / 12);
}

[class^=col-] {
  padding: 0 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.intro {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: calc(100vh - 80px);
}
.intro picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: calc(100vh - 80px);
}
.intro .intro-text {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.intro h1 {
  position: relative;
  font-size: 50px;
  font-weight: 300;
  color: white;
  line-height: 59px;
  margin-bottom: 73px;
  z-index: 2;
}
@media only screen and (max-width: 1200px) {
  .intro h1 {
    font-size: 40px;
    line-height: 49px;
  }
}
@media only screen and (max-width: 992px) {
  .intro h1 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 778px) {
  .intro h1 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.second-part {
  position: relative;
  width: 100%;
}
.second-part .second-part-text {
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 191px;
}
.second-part h2 {
  font-size: 40px;
  color: white;
  line-height: 65px;
  font-weight: 300;
  padding-bottom: 40px;
}
@media only screen and (max-width: 1200px) {
  .second-part h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 996px) {
  .second-part h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 778px) {
  .second-part h2 {
    font-size: 25px;
    line-height: 30px;
  }
}
.second-part p {
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  width: 622px;
  color: white;
  padding-bottom: 40px;
  width: auto;
}
@media only screen and (max-width: 1200px) {
  .second-part p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 996px) {
  .second-part p {
    font-size: 18px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 778px) {
  .second-part p {
    font-size: 16px;
    line-height: 22px;
  }
}

.third-part {
  position: relative;
  height: 90vh;
}
@media screen and (max-width: 1200px) {
  .third-part {
    height: auto;
  }
}
.third-part .third-part-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.third-part .third-part-text {
  padding: 248px 0px;
  display: block;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .third-part .third-part-text {
    padding: 220px 0 150px 0;
  }
}
@media screen and (max-width: 992px) {
  .third-part .third-part-text {
    padding: 100px 0 90px 0;
  }
}
.third-part h2 {
  font-size: 40px;
  color: white;
  line-height: 65px;
  font-weight: 300;
  padding-bottom: 40px;
  line-height: 45px;
}
@media only screen and (max-width: 1200px) {
  .third-part h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 996px) {
  .third-part h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 778px) {
  .third-part h2 {
    font-size: 25px;
    line-height: 30px;
  }
}
.third-part p {
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: white;
  padding-bottom: 40px;
}
@media only screen and (max-width: 1200px) {
  .third-part p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 996px) {
  .third-part p {
    font-size: 18px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 778px) {
  .third-part p {
    font-size: 16px;
    line-height: 22px;
  }
}

.fourth-container {
  position: relative;
  width: 100%;
  background: #F2F2F2;
}

.fourth-title {
  font-size: 40px;
  color: white;
  line-height: 65px;
  font-weight: 300;
  position: relative;
  margin: 195px 0 41px 15px;
  color: black;
  width: auto;
  height: 76px;
}
@media only screen and (max-width: 1200px) {
  .fourth-title {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 996px) {
  .fourth-title {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 778px) {
  .fourth-title {
    font-size: 25px;
    line-height: 30px;
  }
}

.four-images-wrap {
  display: flex;
  flex-direction: column;
}
.four-images-wrap .grid-item {
  height: 337px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.four-images-wrap .grid-item img {
  width: 100%;
  height: 337px;
  object-fit: cover;
}
@media screen and (max-width: 777px) {
  .four-images-wrap .grid-item {
    width: 100%;
  }
}
.four-images-wrap .grid-item a {
  position: absolute;
  width: calc(100% - 30px);
  height: 337px;
  left: 15px;
  top: 180px;
  transition: 0.5s;
  padding: 30px 40px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
.four-images-wrap .grid-item a h3 {
  font-size: 35px;
  color: white;
  line-height: 65px;
  font-weight: 300;
  line-height: 45px;
  margin: 0px;
}
@media only screen and (max-width: 1200px) {
  .four-images-wrap .grid-item a h3 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 778px) {
  .four-images-wrap .grid-item a h3 {
    font-size: 25px;
    line-height: 35px;
  }
}
.four-images-wrap .grid-item a p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 20px;
  color: black;
  opacity: 0;
  line-height: 22px;
  margin: 0px;
}
@media only screen and (max-width: 1200px) {
  .four-images-wrap .grid-item a p {
    font-size: 15px;
  }
}
.four-images-wrap .grid-item a .no-border-btn {
  opacity: 0;
  margin: 0px;
}
.four-images-wrap .grid-item a .no-border-btn span {
  color: #fff;
}
.four-images-wrap .grid-item:hover a {
  background: #DC514C;
  transition: 0.5s;
  top: 0px;
}
.four-images-wrap .grid-item:hover a h3 {
  left: 40px;
  bottom: calc(100% - 50px);
  color: #fff;
}
.four-images-wrap .grid-item:hover a p {
  opacity: 1;
  color: #fff;
}
.four-images-wrap .grid-item:hover a .no-border-btn {
  color: #fff;
  opacity: 1;
}

.projects-title {
  font-size: 40px;
  color: white;
  line-height: 65px;
  font-weight: 300;
  position: relative;
  margin: 176px 0 65px 0;
  width: 720px;
  height: 64px;
  color: black;
}
@media only screen and (max-width: 1200px) {
  .projects-title {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 996px) {
  .projects-title {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 778px) {
  .projects-title {
    font-size: 25px;
    line-height: 30px;
  }
}
@media screen and (max-width: 500px) {
  .projects-title {
    width: 300px;
    text-align: center;
  }
}

@media screen and (max-width: 777px) {
  .projects-title-wrap {
    display: flex;
    justify-content: center;
    max-width: 700px;
  }
}
.projects-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .projects-container {
    display: flex;
    flex-direction: column;
  }
}

.project-item {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.project-item img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.project-item:hover img {
  transform: scale(1.05);
  transition: 0.5s;
}
.project-item h3 {
  position: absolute;
  font-size: 35px;
  color: white;
  line-height: 65px;
  font-weight: 300;
  padding: 0 0 88px 35px;
  font-size: 35px;
  line-height: 39px;
  z-index: 2;
}
@media only screen and (max-width: 1200px) {
  .project-item h3 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 778px) {
  .project-item h3 {
    font-size: 25px;
    line-height: 35px;
  }
}
.project-item p {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: white;
  line-height: 21px;
  padding: 15px 0 18px 35px;
  z-index: 2;
}

.overlay {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.6;
  background: black;
}

#slideshow div {
  width: 400px;
}
#slideshow div img {
  height: auto;
  width: 400px;
}

.president-wrapper {
  position: relative;
  width: 100%;
  height: 90vh;
  background: #DC514C;
}
@media screen and (max-width: 777px) {
  .president-wrapper {
    height: auto;
  }
}
.president-wrapper .img-slider {
  width: 450px;
  height: 650px;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 777px) {
  .president-wrapper .img-slider {
    width: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 777px) {
  .president-wrapper .president-image img {
    width: 100%;
    max-width: 450px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}
.president-wrapper .txt-slider {
  height: 100% !important;
  width: auto;
}
@media only screen and (max-width: 1400px) {
  .president-wrapper .txt-slider {
    width: 50%;
    position: absolute;
    right: 0;
  }
}
@media only screen and (max-width: 992px) {
  .president-wrapper .txt-slider {
    width: 42%;
    position: absolute;
    right: 0;
  }
}
@media only screen and (max-width: 777px) {
  .president-wrapper .txt-slider {
    width: 100%;
    position: relative;
    margin: 0;
  }
}
.president-wrapper .president-text {
  color: white;
  padding-top: 186px;
}
@media screen and (max-width: 777px) {
  .president-wrapper .president-text {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
.president-wrapper .president-text h2 {
  font-size: 40px;
  color: white;
  line-height: 65px;
  font-weight: 300;
}
@media only screen and (max-width: 1200px) {
  .president-wrapper .president-text h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 996px) {
  .president-wrapper .president-text h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 778px) {
  .president-wrapper .president-text h2 {
    font-size: 25px;
    line-height: 30px;
  }
}
.president-wrapper .president-text p {
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  line-height: 35px;
  padding: 35px 0;
}
@media only screen and (max-width: 1200px) {
  .president-wrapper .president-text p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 996px) {
  .president-wrapper .president-text p {
    font-size: 18px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 778px) {
  .president-wrapper .president-text p {
    font-size: 16px;
    line-height: 22px;
  }
}
.president-wrapper .president-text span {
  font-size: 22px;
  font-weight: 600;
}

.slick-dotted {
  margin-bottom: 0 !important;
  height: 100%;
}

.slick-dots {
  width: 150px !important;
  position: absolute;
  right: 0;
  bottom: 70px !important;
}

.collaborants-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.collaborants-wrapper .collaborants-title {
  font-size: 40px;
  color: white;
  line-height: 65px;
  font-weight: 300;
  position: relative;
  color: black;
  margin: 112px 0 36px 0;
}
@media only screen and (max-width: 1200px) {
  .collaborants-wrapper .collaborants-title {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 996px) {
  .collaborants-wrapper .collaborants-title {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 778px) {
  .collaborants-wrapper .collaborants-title {
    font-size: 25px;
    line-height: 30px;
  }
}
@media screen and (max-width: 777px) {
  .collaborants-wrapper .collaborants-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
  }
}
.collaborants-wrapper .collaborants-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 82px 0;
}
@media screen and (max-width: 777px) {
  .collaborants-wrapper .collaborants-row {
    display: block;
  }
  .collaborants-wrapper .collaborants-row .collaborants-title {
    width: auto;
    display: flex;
    justify-content: center;
  }
  .collaborants-wrapper .collaborants-row .col-xs-6 {
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.buro-intro-text {
  position: relative;
  width: 950px;
  margin: 116px 0 140px 137px;
}
.buro-intro-text h2 {
  font-size: 40px;
  color: white;
  line-height: 65px;
  font-weight: 300;
  color: #DC514C;
  line-height: 45px;
}
@media only screen and (max-width: 1200px) {
  .buro-intro-text h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 996px) {
  .buro-intro-text h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 778px) {
  .buro-intro-text h2 {
    font-size: 25px;
    line-height: 30px;
  }
}

.nathalie-container {
  position: relative;
  height: 702px;
  width: 100%;
  display: flex;
}
.nathalie-container .nathalie-buro-img {
  position: relative;
  left: 0;
  bottom: 0;
  height: 702px;
  width: 557px;
}
.nathalie-container .about-nathalie {
  margin-left: 49px;
}

.nathalie-headline {
  margin-bottom: 53px;
}
.nathalie-headline h2 {
  font-size: 40px;
  color: white;
  line-height: 65px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 30px;
  color: black;
}
@media only screen and (max-width: 1200px) {
  .nathalie-headline h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 996px) {
  .nathalie-headline h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 778px) {
  .nathalie-headline h2 {
    font-size: 25px;
    line-height: 30px;
  }
}

.nathalie-text {
  position: relative;
  width: 628px;
  height: 385px;
}
.nathalie-text p {
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1200px) {
  .nathalie-text p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 996px) {
  .nathalie-text p {
    font-size: 18px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 778px) {
  .nathalie-text p {
    font-size: 16px;
    line-height: 22px;
  }
}
.nathalie-text span {
  font-size: 22px;
  font-weight: 600;
}

.extra-div {
  position: relative;
  display: none;
  width: 100%;
  height: 559px;
  padding: 94px 149px 0 139px;
}
.extra-div p {
  font-size: 22px;
  font-weight: 300;
  color: white;
  border-bottom: 1px solid white;
  line-height: 25px;
  width: 1077px;
  padding-bottom: 14px;
  margin-top: 14px;
}

.buro-logo-wrapper {
  position: relative;
  width: 100%;
  height: 470px;
  background: #F6F6F6;
}
.buro-logo-wrapper h2 {
  font-size: 40px;
  color: white;
  line-height: 65px;
  font-weight: 300;
  padding: 126px 139px 72px 139px;
  width: 720px;
  color: black;
  line-height: 47px;
}
@media only screen and (max-width: 1200px) {
  .buro-logo-wrapper h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 996px) {
  .buro-logo-wrapper h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 778px) {
  .buro-logo-wrapper h2 {
    font-size: 25px;
    line-height: 30px;
  }
}
.buro-logo-wrapper .buro-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
  padding: 0 139px 137px 139px;
}

iframe {
  width: 100%;
  height: 665px;
}

.headline-portfolio {
  margin: 96px 0 0 141px;
  font-size: 40px;
  color: white;
  line-height: 65px;
  font-weight: 300;
  color: #DC514C;
}
@media only screen and (max-width: 1200px) {
  .headline-portfolio {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 996px) {
  .headline-portfolio {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 778px) {
  .headline-portfolio {
    font-size: 25px;
    line-height: 30px;
  }
}

.portfolio-first-part {
  font-weight: 300;
  display: flex;
}
.portfolio-first-part .left {
  margin: 70px 0 29px 142px;
  width: 652px;
  height: 587px;
}
.portfolio-first-part .left .main-text {
  font-size: 22px;
  line-height: 28px;
}
.portfolio-first-part .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  width: 355px;
  margin: 70px 0 0 60px;
  font-size: 18px;
}
.portfolio-first-part .right p {
  margin-bottom: 5px;
}
.portfolio-first-part .right span {
  font-weight: 600;
  line-height: 26px;
}

.portfolio-img-container .portfolio-img {
  width: 628px;
  height: auto;
  margin: 0 0 79px 142px;
}
.portfolio-img-container .portfolio-img p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 17px;
}
@media only screen and (max-width: 1200px) {
  .portfolio-img-container .portfolio-img p {
    font-size: 15px;
  }
}

.portfolio-grid-wrap {
  background: #F2F2F2;
}
.portfolio-grid-wrap h2 {
  font-size: 40px;
  color: white;
  line-height: 65px;
  font-weight: 300;
  color: black;
  padding: 98px 0 70px 139px;
}
@media only screen and (max-width: 1200px) {
  .portfolio-grid-wrap h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 996px) {
  .portfolio-grid-wrap h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 778px) {
  .portfolio-grid-wrap h2 {
    font-size: 25px;
    line-height: 30px;
  }
}
.portfolio-grid-wrap .portfolio-grid-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  margin-bottom: 2px;
}

.contact-headline {
  margin: 140px 0 0 137px;
}
.contact-headline h2 {
  font-size: 40px;
  color: white;
  line-height: 65px;
  font-weight: 300;
  color: #DC514C;
}
@media only screen and (max-width: 1200px) {
  .contact-headline h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 996px) {
  .contact-headline h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 778px) {
  .contact-headline h2 {
    font-size: 25px;
    line-height: 30px;
  }
}

.contact-text {
  width: 736px;
  height: 143px;
  margin: 46px 0 0 140px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 300;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  height: 725px;
  padding: 91px 141px 0 142px;
  background: #F2F2F2;
}
.contact-form .right-part {
  position: relative;
  display: flex;
  width: 715px;
  flex-direction: column;
}
.contact-form .contact-item {
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 78px;
  margin-bottom: 15px;
}
.contact-form .contact-item input {
  height: 48px;
  font-size: 22px;
  font-weight: 300;
  color: #DC514C;
  padding: 13px 32px 13px 17px;
}
.contact-form .contact-item label {
  font-size: 16px;
  padding-top: 10px;
}
.contact-form .name,
.contact-form .details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.contact-form .textarea {
  height: 205px;
  width: 715px;
}
.contact-form .textarea textarea {
  resize: none;
  font-size: 22px;
  font-weight: 300;
  color: #DC514C;
  padding: 13px 32px 13px 17px;
}

ul li.active a {
  color: black !important;
}

/*# sourceMappingURL=main.css.map */
